@media all and (min-width: 1200px) {

    header img.m {
        display: none
    }

    header img.pc {
        height: 34px;
    }

    header .btn-menu {
        display: none;
    }

    header nav {
        position: relative;
        top: 15px;
        right: 0;
        height: unset;
        padding-top: 0;
        border: unset;
    }

    header nav .btn-close {
        display: none;
    }

    header nav .util {
        position: absolute;
        top: 15px;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: right;
        color: #fff;
        padding: 0;
    }

    header nav .util li {
        margin-right: 30px;
        margin-top: 0;
        font-size: 18px;
    }

    section h2 {
        top: 58%;
    }

    .col1 {
        padding-top: 80px;
    }

    .col1 .left {
        left: 10%;
        padding-top: 60px;
    }

    .col1 .left h3 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .col1 .txt {
        font-size: 25px;
    }

    .col1 .more {
        font-size: 16px;
    }

    .col2{
        padding: 80px 0;
    }
    
    .col2 h3{
        font-size: 40px;
    }
    .col2 .txt{
        padding-bottom: 20px;
        padding-top: 5px;
        font-size: 25px;
    }
    .col2 .con .box p{
        font-size: 25px;
        font-weight: 400;
    }
    .col2 .con .box:nth-child(1) img{margin-top: 25px;}




    .col3 .wrap{
        display: flex;
        flex-direction: row-reverse;
        position: relative;
    }

    .col3 h3{
        text-align: left;
        font-size: 35px;
        margin-top: 70px;
        margin-left: 30px;
    }
    .col3 .txt .tit-pc {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .col3 .mockup .tit-mob {
        display: none;
    }

    .col3 .wrap .txt{
        width: 50%;
        margin-top: 0;
    }
    .col3 .wrap .txt .box{
        height: 100vh;
    }
    .col3 .wrap .txt .box .icon{
        width: 40px;
        margin-right: 8px;
    }
    .col3 .wrap .txt .box h4{
        font-size: 52px;
    }
    
    .col3 .wrap .txt .box .content{
    }
    .col3 .wrap .txt .box .content p{
        font-size: 24px;
        margin-top: 36px;
        /* margin-left: 40px; */
    }
    .col3 .wrap .txt .box .sub{
        display: flex;
        flex-wrap: wrap;
    }
    .col3 .wrap .txt .box .sub li{
        font-size: 13px;
        margin-right: 8px;
        margin-bottom: 8px;
        padding: 6px 14px;
        border-radius: 100px;
        background-color: rgba(255,255,255,0.3);
    }
    
    .col3 .wrap .txt .btn-m{}
    .col3 .wrap .txt .btn-m button{display: none;}
    .col3 .wrap .txt .btn-m button img{}
    .col3 .wrap .mockup{
        width: 50%;
        height: 100vh;
        margin-bottom: unset;
        padding: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col3 .wrap .mockup .mockup-inner{
        height: 80vh;
    }
    .col3 .wrap .mockup .mockup-inner img.pc{
        display: block;
        height: 100%;
    }
    .col3 .wrap .mockup .mockup-inner img.m{display: none;}
    .col3 .wrap .mockup .mockup-inner .slider-wrap{
        aspect-ratio: 193 / 1198;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .col3 .wrap .mockup .mockup-inner .slider{
        top: 10px;
        width: 89%;
        bottom: unset;
        top: 51%;
        transform: translate(-50%, -50%) translateY(0);
        border-radius: 15px;
        overflow: hidden;
    }
    .col3 .wrap .mockup .btn-m .prev{
        top: 45%;
        left: 8%;
        width: 70px;
    }
    .col3 .wrap .mockup .btn-m button img{width: 100%;}
    
    .col3 .wrap .mockup .btn-m .next{
        top: 45%;
        right: 8%;
        width: 70px;
    }


    .col4 {
        margin: 100px 0;
    }

    .col4 .tit {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .col4 h3 {
        font-size: 35px;
        margin-bottom: 60px;
    }

    .col4 .wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .col4 .box {
        width: 45%;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 70px;
    }

    .col4 .box:nth-child(3) {
        margin-bottom: 0;
    }

    .col4 .box:nth-child(4) {
        margin-bottom: 0;
    }

    .col4 .box h4 {
        font-size: 40px;
        top: 50%;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        transform: translate(-50%, -50%);
        transition: all 0.4s;
        z-index: 1;
    }

    .col4 .box .more {
        background-size: 20%;
        top: 5%;
        left: 15%;
        font-size: 16px;
        z-index: 1;
    }

    .col4 .box .txt {
        font-size: 20px;
        transition: all 0.4s;
        z-index: 1;
        transform: translateY(100%);
        background-color: transparent;
    }

    .col4 .box .txt2 {
        margin-top: 10px;
        z-index: 1;
    }

    .col4 .box img {
        width: 100%;
        transition: all 0.4s;
        filter: blur(0px) brightness(1);
    }

    .col4 .box:hover h4 {
        top: 20%;
    }

    .col4 .box:hover .txt {
        opacity: 1;
        transform: translateY(0);
    }

    .col4 .box:hover img {
        transform: scale(1.2);
        filter: blur(3px) brightness(0.5);
    }

    .col5 .tit {
        font-size: 25px;
    }

    .col5 h3 {
        font-size: 30px;
    }

    .col5 .txt {
        font-size: 18px;
    }

    .col5 .wrap .box {
        margin-left: 100px;
    }

    .col5 .wrap .box p {
        font-size: 16px;
    }

    .col5 .sub {
        font-size: 20px;
    }

    .col5 .more {
        font-size: 16px;
    }

    .col6 .wrap {
        margin-left: 55px;
    }

    .col6 .back {
        position: absolute;
        left: 25px;
    }

    .col7{
        margin: 0 0 60px 0;
    }

    .col7 .btn img {
        display: none;
    }

    .col7 ul {
        width: 90%;
    }

    .col7 ul li {
        margin: 55px 10px 0 0;
    }

    footer ul {
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    footer ul li {
        font-size: 18px;
        margin-right: 25px;
    }

    footer .wrap .logo {
        width: 10%;
    }

    footer .wrap .right {
        margin-left: 70px;
        font-size: 16px;
    }

    footer .wrap .service .tit {
        width: 65px;
    }

    footer .wrap .service .tit2 {
        width: 110px;
    }

    footer .wrap .service .num {
        top: -8%;
        font-size: 25px;
        left: 80px;
    }

    footer .wrap .service .num2 {
        left: 125px;
    }

    footer .wrap .service .txt {
        font-size: 16px;
        margin-left: 10px;
    }

}