*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    text-decoration: none;
}

a{text-decoration: none; color: inherit;}
ul,ol{list-style: none;}
img{vertical-align: top;}
button,input,select{border: 0; background-color:  transparent;}

#wrapper{
    width: 100%;
    height: auto;
}
.wrap{
    font-family: 'jeju Gothic';
    max-width: 375px;
    min-width: 375px;
    margin: 0 auto;
}
header{
    position: relative;
    color: #fff;
}
header h1{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
}
header .util{
    position: absolute;
    top: 18px;
    right: 10px;
    width: 20px;
    height: auto;
}
header .util img{
    width: 100%;
    height: auto;
}
main{
    width: 100vh;
    height: 100vh;
    color: #fff;
}
main img{}
main .txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    /* opacity: 0; */
    /* transition: all 0; */
}
main:hover .txt{
    /* opacity: 1; */
    /* transition: all 0.4s; */
}
main .txt p{
    margin-bottom: 15px;
}
main .txt p.tit1{}
main .txt p.tit2{}
main .txt p.name{}

.sub1{}
.sub1 p:first-child{
    margin: 70px 0 3px 20px;
    font-size: 14px;
    color: #A2A2A0;
}
.sub1 p{
    margin: 0 0 0 20px;
    font-size: 12px;
    color: #2f2f2f;
    font-weight: 200;
}
.sub1 .box{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.sub1 .box1{
    margin-top: 60px;
}
.sub1 .box2{
    margin-bottom: 60px;
}
.sub1 .box .box-img{
    margin-right: 5px;
}
.sub1 .box .img-box{
    margin-right: 0;
}
.sub1 .box .add{
    position: relative;
}
.sub1 .box .add img{}
.sub1 .box .add .memo{
    width: 67.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    text-align: center;
    opacity: 0;
    transition: all 0;
}
.sub1 .box .add .memo2{
    top: 23%;
}
.sub1 .box .add .memo2 span{}
.sub1 .box .add .memo2 span img{
    width: 7px;
    height: 7px;
    color: #fff;
    filter: blur(0) brightness(100);
    margin: 1px 0 0 2px;
}

.sub1 .box .add:hover img{
    filter: blur(1px) brightness(0.5);
}
.sub1 .box .add:hover .memo{
    opacity: 1;
    transition: all 0.4s;
    z-index: 1;
    color: #c9c9c9;
}

.sub2{}
.sub2 img{}
.sub2 .tit{
    margin: 30px 0 15px 20px;
    font-size: 30px;
    color: #2f2f2f;
    font-weight: 700;
}
.sub2 .txt{
    margin-left: 20px;
    font-size: 12px;
    color: #A2A2A0;
    margin-bottom: 30px;
    font-weight: 400;
}
.sub2 .txt p{
    margin-bottom: 10px;
}
footer{}
footer p{
    font-size: 10px;
    color: #A2A2A0;
    display: flex;
    justify-content: right;
    margin: 0 5px 10px 0;
}